.mainMenuDecisions {
    background-color: rgb(255, 203, 212);
    border: none;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.clickingTab {
    background-color: rgb(255, 204, 212);
}

.h3Title {
    color: rgb(137, 66, 78);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 2px;
    font-size: xx-large;
}

.spamClickButton {
    background-color: rgb(255, 203, 212);
    border: none;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none; 
    -ms-user-select: none;    
    user-select: none; 
}

.background {
    background-color: rgb(255, 204, 212);
}

.mainMenuDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 15px;
}